@using ASP.Server.Model
@model IEnumerable<Book>
@{
    ViewData["Title"] = "Books Page";
}

<section class="cars-list-wrapper section">
    <div class="card-panel">
        <a asp-controller="Book" asp-action="CreateUpdateView" class="btn waves-effect waves-light btn-small" type="button">
            <i class="material-icons left">add</i> Add book
        </a>
        <button class="btn waves-effect waves-light red btn-small" onclick="deleteBook(0)">
            <i class="material-icons left">delete_forever</i> Delete books
        </button>
    </div>


    <div class="cars-list-table">
        <div class="card">
            <div class="card-content">
                <!-- datatable start -->
                <div class="responsive-table">
                    <table id="books_datatable" class="table striped">
                        <thead>
                            <tr>
                                <th>
                                    <label class="checkbox checkbox-single">
                                        <input type="checkbox" id="checkAllInputs" value="" class="group-checkable" onclick="checkAllInputs()" />
                                        <span></span>
                                    </label>
                                </th>
                                <th>Title</th>
                                <th>Content</th>
                                <th>Author</th>
                                <th>Price</th>
                                <th>Categories</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var book in Model)
                            {
                                <tr>
                                    <td><label class="checkbox checkbox-single"><input type="checkbox" name="ids_books[]" value="@book.Id" class="checkable" /><span></span></label></td>
                                    <td><div class="chip grey darken-1 white-text">@book.Titre</div></td>
                                    <td>
                                        @( book.Contenu != null && book.Contenu.Length >= 70 ? book.Contenu.Substring(0, 70)+"..." : book.Contenu)
                                    </td>
                                    <td>
                                        <div class="chip deep-purple darken-3 white-text z-depth-1">
                                            @(book.Auteur != null ? book.Auteur.Name : "-")
                                        </div>
                                    </td>
                                    <td>
                                        <div class="chip blue darken-4 white-text z-depth-1">
                                            @book.Prix $
                                        </div>
                                    </td>
                                    <td>
                                        @foreach (Genre genre in book.Genres)
                                        {
                                            <div class="chip lime z-depth-1">
                                                @genre.Label
                                            </div>
                                        }
                                    </td>
                                    <td>
                                        <a asp-area="" asp-controller="Book" asp-action="View" asp-route-id="@book.Id"
                                           class="mb-6 btn-floating waves-effect waves-light gradient-45deg-light-blue-cyan gradient-shadow">
                                            <i class="material-icons">remove_red_eye</i>
                                        </a>
                                        <a asp-controller="Book" asp-action="CreateUpdateView" asp-route-id="@book.Id" class="mb-6 btn-floating waves-effect waves-light gradient-45deg-amber-amber gradient-shadow">
                                            <i class="material-icons">edit</i>
                                        </a>
                                        <a onclick="deleteBook(@book.Id)"
                                           class="mb-6 btn-floating waves-effect waves-light gradient-45deg-purple-deep-orange gradient-shadow">
                                            <i class="material-icons">delete_forever</i>
                                        </a>
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                    <div class="dataTables_paginate paging_simple_numbers" id="data-table-simple_paginate">
                    <a class="paginate_button previous disabled" aria-controls="data-table-simple" data-dt-idx="0" tabindex="-1" id="data-table-simple_previous">Previous</a>
                    <span>
                        @for (int i = 0; i < ViewBag.Pages;i++)
                            {
                            <a href="/Auteur/Books/@(ViewBag.Id)?page=@i" class="paginate_button @(ViewBag.Page == i ? "current":"")" aria-controls="data-table-simple" data-dt-idx="1" tabindex="0">@(i+1)</a>

                         }
                    </span>
                    <a class="paginate_button next" aria-controls="data-table-simple" data-dt-idx="7" tabindex="0" id="data-table-simple_next">Next</a>
                    </div>
                </div>
                <!-- datatable ends -->
            </div>
        </div>
    </div>


    <script>

        function deleteBook(id) {
            console.log(id);


            var arrayIds = new Array();
            var j = 0;


            //id = 0 ==> Suppression multiple

            if (id > 0) {
                arrayIds[0] = id;
            } else {
                $('#books_datatable input[class="checkable"]').each(function () {
                    var checked = jQuery(this).is(":checked");
                    if (checked) {
                        arrayIds[j] = jQuery(this).val();
                        j++;
                    }
                });
            }

            console.log(arrayIds)

            if (arrayIds.length < 1) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please choose the books you want to delete!',
                })
            } else {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/Book/Delete",
                            type: "DELETE",
                            cache: false,
                            data: {
                                ids: arrayIds
                            },
                            traditional: true,
                            dataType: "JSON",
                        }).done(function () {
                            Swal.fire(
                                'Deleted!',
                                'The book has been deleted.',
                                'success'
                            ).then((result) => {
                                location.reload();
                            });
                        });


                    }
                })
            }

           

        }



        function checkAllInputs() {

            let checked =  false;

            if (document.getElementById("checkAllInputs").checked) {
                checked = true;
            }

            $('#books_datatable input[class="checkable"]').each(function () {
                jQuery(this).prop("checked", checked);
            });
        }




    </script>





</section>
